/* VARIABLES */
:root {
  --light-purple: #b243be;
  --dark-purple: #340564;
  --border-radius: 10px;
}

/* Set universal font */
* {
  font-family: Helvetica, sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.3;
}

header {
  margin: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 150%;
}

#timer {
  padding: 0 30px;
}

h1 {
  font-size: 250%;
}

#intro {
  font-size: 150%;
  margin-bottom: 30px;
}

#questionBox {
  width: 70%;
  text-align: center;
  margin: 120px auto;
}

#question {
  margin: 30px 0;
}

/* Start quiz button on home page */
#start {
  margin-top: 10px;
  padding: 15px 25px;;
  font-size: 150%;
  background-color: var(--dark-purple);
  color: white;
  border-radius: var(--border-radius);
}

#highScores {
  color: var(--light-purple);
  text-decoration: none;
}

/* Answer choices during quiz */
.answer {
  font-weight: normal;
  font-size: 70%;
  background-color: var(--dark-purple);
  border-radius: var(--border-radius);
  color: white;
  padding: 20px;
  margin-top: 10px;
  width: 350px;
}

/* Correct or Wrong display after answer */
#feedback {
  color: gray;
  font-size: 200%;
  text-align: left;
  font-style: italic;
  padding-top: 30px;
}

/* FINAL SCORE AND SUBMIT SCREEN */
#finalScoreMessage {
  font-weight: normal;
  padding: 20px 0;
}

#submitBtn {
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px 25px;;
  font-size: 80%;
  background-color: var(--dark-purple);
  color: white;
  border-radius: var(--border-radius);
  font-weight: normal;
}

/* Name Form */
#name {
  font-size: 80%;
  font-weight: normal;
}

label {
  font-weight: normal;
  font-size: 80%;
}

form {
  width: 100%;
}

/* High score list */
ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-top: 50px;
  padding-bottom: 30px;
}

/* High score list items */
.highScore {
  font-weight: normal;
  background-color:#cec1d9;
  font-size: 75%;
  padding: 10px;
  width: 60%;
}

/* Buttons on high score screen */
.highScoreBtns {
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 25px;;
  font-size: 150%;
  background-color: var(--dark-purple);
  color: white;
  border-radius: var(--border-radius);
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .answer {
    width: 250px;
  }
  #questionBox {
    margin: 50px auto;
  }
  #name {
    width: 200px;
    font-size: 80%;
  }
  h1 {
    font-size: 175%;
  }
  #intro {
    font-size: 125%;
  }
  #submitBtn {
    margin-left: 0;
  }
  .highScore {
    width: 100%;
  }
}

@media (hover: hover) {
  button:hover,
  .answer:hover {
    background-color: var(--light-purple);
    cursor: pointer;
  }

  #highScores:hover {
    cursor: pointer;
  }
}